#shop {
    margin: 2rem auto;
    width: 70%;

    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #a59b8b;
    }
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

